* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

footer p {
  display: flex;
  justify-content: center;
}

body {
  background-color: black;
  color: white;
}

header {
  background-color: black;
  position: fixed;
  width: 100%;
  height: 5rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  top: 0;
}

ul {
  display: flex;
  gap: 20px;
  transition: 0.5s;
  z-index: 20;
}

li {
  padding-left: 10px;
}

main {
  background-color: black;
  width: 100%;
  height: auto;
  margin-top: 5rem;
  padding-top: 5rem;
}

p {
  margin-top: 1rem;
}

a {
  position: relative;
  padding-bottom: 2px;
  text-decoration: none;
  color: white;
}
a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  height: 2px;
  background-color: blueviolet;
  transform-origin: center;
  transition: transform 0.4s ease-out;
  width: 100%;
}
a:hover::after {
  transform: translateX(-50%) scaleX(1);
}

label {
  display: none;
}

#logo {
  color: blueviolet;
  transition: 0.3s;
}
#logo:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#social {
  display: flex;
  justify-content: center;
}

#avatar {
  border-radius: 50%;
  width: 30%;
  border: 2px solid blueviolet;
  max-height: 250px;
  max-width: 250px;
}

#hero {
  display: flex;
  justify-content: space-around;
}

#hero-head {
  color: blueviolet;
  width: 50%;
  font-weight: 700;
}

#hero-value {
  color: rgb(255, 255, 255);
}

#contact {
  background-color: blueviolet;
  color: white;
  font-size: 1.3rem;
  border-radius: 0.7rem;
  padding: 0.5rem;
  margin-top: 1.5rem;
  cursor: pointer;
  position: relative;
  z-index: 10;
  border: none;
}
#contact::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(45, 45, 45);
  left: 0;
  top: 0;
  border-radius: 0.7rem;
}
#contact::before {
  content: "";
  background: linear-gradient(
    45deg,
    #a200ff,
    #81007f,
    #aa00a7,
    #9c008a,
    #b100a9,
    #ac0098,
    #ff00c8,
    #a200ff
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  filter: blur(8px);
  animation: glowing 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
  opacity: 0;
}
#contact:hover::before {
  opacity: 1;
}
#contact:active::after {
  background-color: transparent;
}
#contact:active {
  color: black;
}

#skills {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

#burger-toggle {
  display: none;
}

#projects {
    text-align: center;
}

#space {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#space {
    width: 100%;
}

.project {
    width: 20%;
    height: auto;
    background-color: rgb(30, 30, 30);
    border: 2px solid rgb(39, 39, 39);
    border-radius: 1rem;
    margin-top: 1rem;
    padding: 1rem;
    transition: .3s;
}

.block {
  width: 30%;
  height: auto;
  background-color: rgb(30, 30, 30);
  border: 2px solid rgb(39, 39, 39);
  border-radius: 1rem;
  color: white;
  padding: 1rem;
  transition: 0.3s;
}
.block:hover, .project:hover {
  transform: scale(1.1);
  box-shadow: 6px 6px 8px 0px rgba(119, 0, 187, 0.38);
}

.nav-type {
  list-style: none;
}

.hero-text {
  font-size: 3.5rem;
}

.social-img {
  height: 2.5rem;
  margin-top: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  transition: 0.3s;
}
.social-img:hover {
  transform: scale(1.2);
}

.namer {
    color: white;
    font-size: 2rem;
    margin-top: 1rem;
    font-weight: 700;
    width: 100%;
    text-align: center;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@media (max-width: 835px) {
  label {
    position: relative;
    display: block;
    height: 25px;
    width: 30px;
  }
  label::after,
  label::before,
  label span {
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: blueviolet;
    transition: 0.3s;
  }
  label::before {
    content: "";
    top: 0;
  }
  label::after {
    content: "";
    bottom: 0;
  }
  label span {
    top: 11px;
  }

  ul {
    position: fixed;
    left: 0;
    right: 0;
    background-color: black;
    padding-top: 100px;
    z-index: -1;
    flex-direction: column;
    text-align: center;
    top: -100vh;
    bottom: 100vh;
  }

  li a {
    font-size: 2rem;
  }

  #burger-toggle:checked ~ label::after {
    transform: rotate(45deg);
    bottom: 10px;
  }
  #burger-toggle:checked ~ label::before {
    transform: rotate(-45deg);
    top: 12px;
  }
  #burger-toggle:checked ~ label span {
    transform: rotate(-45deg);
    top: 12px;
  }
  #burger-toggle:checked ~ ul {
    top: 5rem;
    bottom: 0;
  }

  #hero {
    flex-direction: column-reverse;
    align-items: center;
  }

  #hero-head {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
